# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Build / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS
.DS_Store

# External linked libraries
libs/

# Sound files
sounds/

# ignore fmod project and files
fmod-project/
fmod-banks/